/* Fonts
----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.container{
  width: auto;
  font-family: 'Rubik', sans-serif;
}

div.ingredientCard {
  /* background-color: #eeeeee;
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px; */
  text-align: center;
  border: grey solid 1px;
  padding: 10px;
  width: 130px;
  height: 130px;
  display: inline-block; /*inline-grid*/
  margin: 10px;
  box-shadow: 3px 4px #FF5733;
  border-radius: 10px;
}

div.categoryContainer{
  padding-top: 50px;
}

div.ingredientCard {
  padding: 5px;
  font-size: 13px;
}

img.ingredientImg {
  width: 60px;
  height: 60px;
}