/* Fonts
----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* Container
----------------------------------------------------*/
.container{
  font-family: 'Rubik', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

#welcome img {
  /* background: url('images/umami-pantry.gif'); */
  /* height: 100vh; */
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* #welcome {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#welcome img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
} */


h1 {
  /* color: #93E0F4; 67D4C5; 67C6D4;*/
  /* background-color: #F0D603; */
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #67D4B8 65%);
  display: inline;
}

button.btn {
  /* margin: 30px 0px 10px 0px; */
}

/* Ingredients */

div#ingredientsContainer {
  margin-top: 30px;
  margin-bottom: 100px;
}

div.categoryContainer{
  padding-bottom: 40px;
}

div#recipesContainer h4{
  padding-bottom: 0.5em;
}

div.ingredientCard {
  /* background-color: #eeeeee;
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px; */
  text-align: center;
  border: grey solid 1px;
  padding: 10px;
  width: 110px;
  height: 110px;
  display: inline-block; /*inline-grid*/
  margin: 7px;
  box-shadow: 3px 4px #FF5733;
  border-radius: 10px;
}


div.ingredientCard {
  padding: 5px 5px;
  font-size: 12px;
}
div.ingredientCard p {
  padding-top: 3px;
  margin-bottom: 0.5px;
  font-weight: bold;
}

img.ingredientImg {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}

/* Recipe */
div.recipeCard img {
  /* width: auto; */
  height: auto;
  width: 100%;
  display: block;
}

div.recipeCard a {
  color: black;
  font-weight: 400;
}

div.recipeCard a:hover {
  color: #67D4B8;
}

div.card.mb-3 {
  /* width: 50%; */
  /* height: auto; */
  display: inline-grid; /*inline-grid*/
  float: left;
  margin: 10px;
  max-width: 300px;
}

/* Selected Ingredient */
div #selectedRecipe {
  display: inline-block;
}

div #selectedRecipe h2 {
  padding-top: 0.5em;
  font-weight: bolder;
}

#selectedRecipe img {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.col-8 li {
  margin-bottom: 30px;
  font-size: 130%;
}
div #selectedRecipe .btn {
  margin-right: 20px;
}

div#subIngredientForm {
  display: none;
  margin: 30px 0px;
}

/* Footnote
----------------------------------------------------*/